<main>
  <app-navbar></app-navbar>
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <app-product *ngFor="let item of products" [product]="item"></app-product>
    </div>
  </div>
</main>

<!-- <ul>
  <li *ngFor="let product of productLists; let i = index">
    {{product}}
    <button (click)="removeProduct(i)">remove</button>
  </li>
</ul>

<button (click)="pushProduct()">push</button>
<button (click)="unshiftProduct()">push</button> -->

<!-- <app-action-bar [inputDisplay]="true"></app-action-bar> -->

<!-- <div *ngIf="avtivte; else elseTemplate">
  <app-action-bar></app-action-bar>
</div>

<button (click)="avtivte = !avtivte">active conten</button>

<ng-template #elseTemplate>
  <div>template is active</div>
</ng-template> -->

<!-- <div>
  width :
  <button type="button" (click)="sqaureWidth = 50">50px</button>
  <button type="button" (click)="sqaureWidth = 100">100px</button>
  <button type="button" (click)="sqaureWidth = 150">150px</button>
</div>


<app-sqaure-flex [divHeight]="sqaureHeight" [divWeight]="appCouter" ></app-sqaure-flex>
<app-action-bar [(couter)]="appCouter" [step]="5"></app-action-bar>

<app-max-min-meter
[minLabel]="appMinLabel"
[maxLabel]="appMaxLabel"
(minChange)="doAppMinChange($event)"
(maxChange)="doAppMaxChange($event)"
>
</app-max-min-meter> -->

<!-- <div>

  <app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
  <br/>
  <app-action-bar (numberChange)="testNumberChange($event)" [step]="10"></app-action-bar>

  <button type="button" (click)="testClick()">test</button>
</div> -->

<!-- hello {{ title }}
<br/>
this project for {{ test }} angular


<button type="button" (click)="showMyName('poom')">click here</button> -->

<!--
<span>มา4 จ่าย3</span>

<div>
  <input #priceBuffe type="text" name="" id="" placeholder="กรอกจำนวนที่ต้องการ">
  <button (click)="calBuffet(priceBuffe.value)">คำนวน</button>
  <span>คนละ {{ price }} บาท</span>
</div> -->
